<div class="col-md-4 col-md-offset-2">
    <h1 class="text-center">Send us a message.</h1>
    <%= form_for(@message) do |f| %>
    <div class="field">
        <%= f.label :Message_Title %>
        <%= f.text_field :title ,class: 'form-control'%>
    </div>

    <div class="field">
        <%= f.label :Message_description %>
        <%= f.text_area :description, rows:6, cols:7,class: 'form-control' %>
    </div>

    <div class="field">
        <%= f.label :Your_email %>
        <%= f.text_field :email, class: 'form-control' %>
    </div>
    <br>

    <div class="action">
        <%= f.submit "Submit", class: 'btn btn-primary btn-block' %>
    </div>
    <br>
    <br>
    <% end  %>
    </div>

<div class="col-md-4 field_with_errors">

        <% if @message.errors.any? %>
        <div id="error_explanation">
            <p class="text-danger">

                <%= pluralize(@message.errors.count, "error") %> prohibited this post from being saved:
            </p>

            <ul>
                <% @message.errors.full_messages.each do |message| %>
                <li class="text-danger"><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>


</div>